body {
    background-color: black;
    border: 10px solid white;
    position: relative;
    left: 550px;
    width: 600px;
    height: 1050px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin-left: -10px;
}

.footer--insta {
    padding-right: 10px;
}

.footer--twitter {
    padding-left: 20px;
}
.footer--jesse {
    padding-left: 20px;
}

info {
    text-align: center;
    color: white;
}

.info--img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

about {
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
}

.about--text {
    display: block;
    max-width: 450px;
    font-size: large;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.info--button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    font-size: 24px;
    padding: 12px 28px;
    text-decoration: none;
}

.info--gov {
    padding-top: 20px;
    color: aqua;
}

.info--occupation {
    padding-top: 20px;
    color: aqua;
}

.info--name {
    padding-top: 20px;
    color: aqua;
}